@model LH_Vet._0._1.Models.AppointmentsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
      
      <dt>
            @Html.DisplayNameFor(model => model.Patients)
        </dt>

        <dd>
          @foreach (var item in Model.Patients)
          {
            if (item.Checked)
            {
                  <div>@item.Name</div>
            }
          }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
